.StationPopup .lat,
.StationPopup .lon {
    margin-right: 1em;
}

.StationPopup .lat::after {
    content: " °N";
}

.StationPopup .lon::after {
    content: " °E";
}

.StationPopup .elevation::before {
    content: "Elevation: ";
}

.StationPopup .elevation::after {
    content: " m";
}

